@import url('');
/*css reset*/
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}
		.lefting{
			float: left;
			margin: 7px 7px 7px 0;

		}

        .rightimg{
            float: right;
            margin: 7px 7px 7px 0;

}

/*menu*/

.top_menu {
	text-align: center;
	font-size: 0;
	position: relative;
	z-index: 30;
}

.menu_gorizontal {
	position: relative;
	
}

.menu_gorizontal li+li+li:hover .menu_vertical {
	display: block;
}

.menu_gorizontal li {
	display:inline-block;
	background: lemonchiffon;
	border-right: 1px solid red;
	text-transform: uppercase;
	position: relative;

}

.menu_gorizontal li:last-child {
	border-right: none;
}

li:hover {
	background:blue;
}


.menu_gorizontal li a {
    font-size: 20px;
    color: black;
    display: block;
    outline: 2px solid gold;
    position: relative;
    padding: 40px 88px 5px 82px;
	text-decoration: none;
}

.menu_gorizontal li.before a:before {
    content: "";
    width: 75px;
    height: 75px;
    display: inline-block;
    background: url(../pic/img/888.png);
    position: absolute;
	top: 0px;
    left: 0px;
}

.menu_gorizontal li.before a:before {
    background-position: -1px -10px;
}



.menu_gorizontal li+li.before a:before {
    background-position: -1px -262px;
}

.menu_gorizontal li a.after:after {
    content: "";
    width: 75px;
    height: 75px;
    display: inline-block;
    background: url(../pic/img/888.png);
    position: absolute;
	right:0px;
	top:0px;
}


.menu_gorizontal li+li+li a.after:after {
    background-position: 93333333px -262px;
}

.menu_gorizontal li:hover a.after:after {
    content: "";
    width: 75px;
    height: 75px;
    display: inline-block;
    position: absolute;
	right:0px;
	top:0px;
}

.menu_vertical {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
}

.menu_vertical li {
	position: relative;
	background: yellow;
	border-right: 1px solid red;
	text-transform: uppercase;
	display: block;
}

.menu_vertical li .main_float:before {
    content: "";
    width: 75px;
    height: 75px;
    display: inline-block;
    background: url(../pic/img/777.png) -70px -197px;
    position: absolute;
    top: 0px;
    left: 0px;
}
   
.menu_vertical li:hover .main_float:before {
	background-position: -149px -197px;
}


.menu_vertical li:hover {
	background:blue;
}
.main__float a {
	background: url('../pic/img/777.png');

}

.menu_float {
	position: absolute;
	right:100%;
	top: 0;
	display: none;
}

.menu_float li {
	position:relative;
}


.menu_vertical:hover .menu_float {
	display: block;
}

/* social_menu */

.social_menu {
	font-size: 0px;
	text-align: right;
}

.social_menu li {
display: inline-block;
font-size: 20px;
}

.social_menu li a {
	display: block;
	outline: 2px solid red;
	background: url('../pic/img/777.png');
	transition: all 1s ease;

}

.social_menu li a{
	width: 20 px;
	height: 20px;
	display: inline-block;
	font-size: 20px;

}

.social_menu li+li a {
	background-position: -65px 0;

}
.social_menu li+li+li a {
	background-position: -125px 0;

}
.social_menu li+li+li+li a {
	background-position: -187px 0;

}
.social_menu li+li+li+li+li a {
	background-position: -250px 0;

}

.social_menu li:hover a {
	background: url('../pic/img/777.png') ;

	background-position: 0 -65px;

}

.social_menu li+li:hover a {
	background-position: -65px -65px;

}
.social_menu li+li+li:hover a {
	background-position: -125px -65px;

}
.social_menu li+li+li+li:hover a {
	background-position: -187px -65px;

}
.social_menu li+li+li+li+li:hover a {
	background-position: -250px -65px;

}

.wrapper{             
                list-style: square outside;
	            color:black;
				font-size:15px;
				line-height: 30px;
				font-weight:800;
				text-align:justify;
				background: lemonchiffon ;
				width:auto;
				height:auto;
				margin:0 auto;
				padding: 20px 30px;
				border: 5px solid gold;
				box-sizing: border-box;
                border-radius: 20px;
}    
p{
				color:black;
				font-size:15px;
				line-height: 30px;
				font-weight:800;
				text-align:justify;
				background: lemonchiffon ;
				width:auto;
				height:auto;
				overflow:auto scroll;
				margin:0 auto;
				padding: 20px 30px;
				border: 5px solid gold;
				box-sizing: border-box;
			    border-radius: 20px;
			}

		h1{
			color:black;
			 text-align: center;
			 text-shadow: 2px 2px 3px #000;
		     border-radius: 20px;
		      background: lemonchiffon;
		}


	
		h2{
			color:black;
			 text-align: center;
			 text-shadow: 2px 2px 3px #000;
	         background: lemonchiffon;
	} 

	

	ul{
		text-align: center;
       	font-size: large;


	}
	ul li{
		display: inline-block;
		
		font-size: 20px;
	}
	
   
	ul li a{
		text-decoration: none;
		color:black;
		text-transform: uppercase;
		padding: 15px 25px;
		display: block;
	}
